<% if(productos.length > 0 ){ %>
    <div class="table-resposive">
       <table class="table table-dark">
            <tr style="color: tomato;">
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>cantidad</th> 
            </tr> 
            <%productos.forEach(function(producto) { %>
                <tr>
                    <td><%=producto.nombre%></td>
                    <td><%=producto.precio%></td>
                    <td><img src="<%=producto.imagen%>" alt="<%=producto.nombre%>" width="200"></img></td>
                    <td><%=producto.cantidad%></td>
                </tr>
                <%});%>    
        </table>  
    </div>
<% } else { %>
    <h3 class="alert alert-danger">No se encontraron productos</h3>
<% } %>